{% if not offer.favorite %}
    {% if offer.hidden %}
        <button title="Rendre visible" data-id="{{ offer.id }}" type="button" class="btn btn-primary btn-warning unhideAction"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
    {% else %}
        <button title="Masquer" data-id="{{ offer.id }}" type="button" class="btn btn-default btn-danger hideAction"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
    {% endif %}
{% endif %}