a.offerLink {
    cursor: pointer;
}

ul.offerDetail {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

ul.offerDetail li {
    line-height: 25px;
}

.carousel-inner .item {
    text-align: center;
    background-color: #000;
}

.carousel-inner .item img {
    max-width: 570px;
    max-height: 430px;
    display: inline;
}

.offerLabel, .offerCreated {
    font-size: 11px
}

.offerVisit {
    font-weight: bold;
}

.offerTitle {
    font-size: 13px;
}

.formVisit div, .formVisit button  {
    display: inline-block;
}

.formVisit select  {
    margin: 0 5px;
}
.formVisit button {
    margin-left: 10px;
}

.table-striped tbody tr.expired, .table-striped tbody tr.expired td, .table-striped tbody tr.expired td a {
    background-color: grey;
    color: #fff;
}