a.offerLink {
    cursor: pointer;
}

ul.offerDetail {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

ul.offerDetail li {
    line-height: 25px;
}

.carousel-inner .item {
    text-align: center;
    background-color: #000;
}

.carousel-inner .item img {
    max-width: 570px;
    max-height: 430px;
    display: inline;
}